.payment-check {
  margin: 45px auto 0;
}

.payment-check__container {
  max-width: 780px;
}

.payment-check__title {
  color: #303233;
  font-family: 'Proxima Nova';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin: 0 0 35px;
}

.payment-check__current-form {
  margin-bottom: 224px;
}

.payment-check__checkbox {
  margin-left: 12px;
  margin-bottom: 7px;
}

.payment-check__error {
  margin-left: 12px;
  margin-bottom: 50px;
}

.payment-check__button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 21px;
}