.header__container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  padding: 0 96px;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  margin-top: 6px;
}

.header__menu {
  min-width: 291px;
}

.header__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-left: 0;
}

.header__link {
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  margin-right: -6px;
}

.header__icon {
  display: flex;
  background-color: #222324;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

.header__icon_heart {
  background-image: url(../../images/header_heart.svg);
  margin: 0 8px 0 0;
}

.header__icon_alarm {
  background-image: url(../../images/header_alarm.svg);
}

.header__icon_choose-user {
  background-image: url(../../images/header_change-user.svg);
  margin: 0 0 0 -3px;
  padding: 0;
}

.header__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0 12px 0 8px;
}

.header__user {
  display: flex;
  flex-direction: column;
}

.header__user-name {
  min-width: 160px;
  color: #ffffff;
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__change_profile {
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.header__user-position {
  color: #babdbf;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}