.checkbox__label {
  box-sizing: border-box;
}

.checkbox__label {
  color: #303233;
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 12px;
  margin-bottom: 32px;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
}

.checkbox__custom {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #303233;
  border-radius: 4px;
  vertical-align: text-top;
  margin-right: 16px;
}

.checkbox__custom::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #71A2FF;
  background-image: url(../../images/chekbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #71A2FF;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.checkbox__custom::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #71A2FF;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.checkbox__input:checked+.checkbox__custom::before {
  display: block;
}

.checkbox__input:checked+.checkbox__custom::after {
  display: block;
}