.input {
  box-sizing: border-box;
  display: flex;
  width: 552px;
  height: 48px;
  padding-left: 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d4d7d9;
  background: #fff;
  margin: 0 auto 6px;
}

.input:focus {
  outline: 1px solid #71a2ff;
}

.input_error {
  border: 1px solid #ec3c3c;
}

.input_short {
  width: 320px;
}
