@import url(../src/vendor/fonts/fonts.css);

:root {
  font-family: 'Proxima Nova', Arial, sans-serif;
  /* max-width: 1440px; */
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
